@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --color-button-background: #151616;
  --color-background: #061010;
  --color-background-site: #020808;
  --color-primary: #068c7c;
  --color-success: #309b19;
  --color-error: #ac0000;
  --color-warn: #d7d013;
  --color-info: #068080;
  --color-input-bg: #151616;
  --color-input-border: #068c7c;
  --color-input-stroke-hover: #2a4a4a;
  --color-input-placeholder: #b1b1b1;
  --font-cinzel: "Cinzel", serif;
}
